.wrapper
    width: 100%
    height: 100vh
    box-sizing: border-box
    font-family: 'Roboto', 'Arial', sans-serif
    line-height: 1
    .loader
        position: absolute
        background: #fff
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 20
        display: flex
        align-items: center
        justify-content: center
    .flowArea
        cursor: default
        &:active
            cursor: default
