body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.react-flow__attribution {
    display: none;
}

button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
}

.react-flow__controls-button {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

div.react-flow__controls {
    box-shadow: none;
    cursor: default;
}

button.react-flow__controls-fitview {
    margin-top: 15px;
}

div.react-flow__controls {
    padding: 0 0 10px 10px;
    bottom: 0;
    left: 0;
}

.react-flow__node.react-flow__node-special {
    cursor: default;
}

div.react-flow__handle {
    pointer-events: all;
}